# Connection string do cluster MongoDB Atlas do projeto (smart-city).
# Peça a um responsável pelo projeto, ou obtenha em MongoDB Atlas > Database > Connect.
MONGODB_URI=<sua_connection_string_aqui>

# Connection string do banco de dados Postgres do projeto (neondb).
# Peça a um responsável pelo projeto, ou obtenha em Neon > Databases > Connect
DATABASE_URL="postgresql://<seu_usuario>:<sua_senha>@<seu_host>/<seu_banco>?sslmode=require&channel_binding=require"
